/* GLOBAL FORMAT */
:root {
    /* COLOR VARIABLES*/
    --blackish: #3F3F3F;
    --whitish: #F1F1F1;
    --greyDark: #5d5d5d;
    --greyLight: #B0B0B0;
    --green: #529F3F;
    --greenLight: #CCF1C3;
    --red: #E04B4B;
    --redLight: #FECCCC;
}
* {
    background-color: var(--blackish);
    color: var(--whitish);
    font-family: Nobile, Arial, sans-serif;
    margin: 0;
    border: 0;
    padding: 0;
}
#screenBG {
    height: 100vh;
    width: 100%;
    border: 5px solid var(--blackish);
    
    /* FLEXBOX */
    display: flex;
    justify-content: center;
    align-items: stretch;
}
#display {
    height: 100vh;
    
    /* FLEXBOX */
    flex: 0 1 1000px;
    display: flex;
    flex-direction: column;
}

/* LOCAL FORMAT */
.container {                /* ALL CONTAINERS ARE FLEXBOXES */
    display: flex;
}

.container.scores {         /* SCOREBOX */
    

    /* FLEXBOX */
    flex: 0 1 250px;
    flex-wrap: wrap;
    justify-content: center;
}

.container.buttons {        /* BUTTONS */
    

    /* FLEXBOX */
    flex: 0 3 150px;
    min-height: 100px;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    gap: 20px;
}

.container.graphics {       /* GRAPHICS DISPLAY BOX */
    background-color: var(--greyDark);
    
    /* FLEXBOX */
    flex: 1 0 auto;
    justify-content: space-evenly;
    align-items: center;
}